body {
  padding: $default-font-size;
}

/**
** About Section
**/

.section-about {
  background-color: $color-grey-light-1;
  @include paddingSections;
  margin-top: -20vh;
}

/**
** Features Section
**/
.features-section {
  @include paddingSections;
  @include sectionWithImageBg("../assets/images/nat-4.jpg");
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

/**
** Features Section
**/
.section-tours {
  background-color: $color-grey-light-1;
  @include paddingSections;
  padding-bottom: 10rem;
  margin-top: -10rem;
}

/**
** Stories Section
**/

.section-stories {
  position: relative;
  padding: 10rem 0;
}
