/**
** About Section
**/

.section-about {
  background-color: $color-grey-light-1;
  @include paddingSections;
  margin-top: -20vh;

  @include respond(tab-pot) {
    padding-top: 20vh;
  }
}

/**
** Features Section
**/
.features-section {
  @include paddingSections;
  @include sectionWithImageBg("../assets/images/nat-4.jpg");
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-pot) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

/**
** Features Section
**/
.section-tours {
  background-color: $color-grey-light-1;
  @include paddingSections;
  padding-bottom: 10rem;
  margin-top: -10rem;

  @include respond(tab-pot) {
    padding-bottom: 8rem;
  }
}

/**
** Stories Section
**/

.section-stories {
  position: relative;
  padding: 10rem 0;

  @include respond(tab-pot) {
    padding: 5rem 0;
  }
}

/**
** Booking Section
**/

.section-book {
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  padding: 10rem 0;

  @include respond(tab-pot) {
    padding: 5rem 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../assets/images/nat-10.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
