.u-center-text {
  text-align: center;
}

//Margin
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-big {
  margin-top: 10rem;
}
.u-margin-top-huge {
  margin-top: 10rem;
}

//Padding
.u-padding-bottom-big {
  padding-bottom: 8rem;
}
.u-padding-bottom-medium {
  padding-bottom: 4rem;
}
.u-padding-bottom-small {
  padding-bottom: 1.5rem;
}

.u-padding-small {
  padding: 10rem;
}
.u-padding-medium {
  padding: 2.5rem;
}
.u-padding-large {
  padding: 4rem;
}

.u-padding-right-left-medium {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}